{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}

   <h2>Welcome {{ app.user }}</h2><br>
   <div class="row">
   <div class="col-4 alert-info"><h2>Users:</h2><span class="display-4"> {{ users|length }}</span></div>
   <div class="col-4 alert-primary"><h2>Categories:</h2><span class="display-4"> {{ categories|length }}</span></div>
   <div class="col-4 alert-success"><h2>Advertisement:</h2><span class="display-4"> {{ advertisements|length }}</span></div>
   </div>

{% endblock %}
