{% block body %}
    <div class="comments-content">
        <form method="post" class="comment-form" id="comment-form" >
            <input id="commentContent" placeholder="Add your comment" autocomplete="off">
            <button class="comment-btn" name="submit" id="submit" value="Comment" type="button">Comment</button>
        </form>
        <div id="displayComment" style="display: flex; flex-direction: column-reverse"></div>
    </div>


{%  block javasriptsblock %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ asset('js/showAllAdverComments.js') }}"></script>
{% endblock %}

{% endblock %}
