@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
body {
    box-sizing: border-box;
    background-color: #24252A;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px 5%;
}

.nav .logo {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 23px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24252A;
}

.nav li {
    float: left;
}

.nav li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #509FC7;
    border-radius: 2px;
}

.nav .login-btn {
    color: #FFFFFF;
    padding: 10px 20px;
    border: 1px solid #0cb5c7;
    border-radius: 20px;
    background-color: #0cb5c7;
    font-size: 16px
}
.login-btn:hover{
    cursor: pointer;
    border: 1px solid #2edff2;
    background-color: #2edff2;
}
.nav .input-group{
    width: 300px;
}
.nav .input-group input{
   width:100%;
    font-size: 15px;
    padding: 5px;
    height: 20px;

}
.nav #searchAdvertisement_result{

    position: absolute;
    top: 65px;
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    width: 315px;
    overflow-y: scroll;
}
.nav #searchAdvertisement_result li{
    padding:10px;
}

.nav #searchAdvertisement_result li:hover{
    background-color: #e1f1f2;
    padding-left:12px;
}